<!DOCTYPE html>
<html>
<head>
  <title>CukeHub</title>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <script src="/main.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Console</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <% if (runCommand) { %>
    <div id="messages"></div>
    <form class="col s12" onsubmit="showLoader()">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" id="tagsInput" name="tags" placeholder="Enter tags to execute" data-tags='<%- uniqueTags.join(",") %>'>
          <label for="tagsInput">Execute by tag:</label>
        </div>
        <div class="input-field col s6">
          <select id="operatorSelect" name="operator">
            <option value="AND">AND</option>
            <option value="OR">OR</option>
          </select>
          <label>Operator</label>
        </div>
      </div>
      <button id="run-test-button" class="btn waves-effect waves-light" type="submit">Run Tests</button>
    </form>
    <% } %>
    <table id="table" class="highlight">
        <thead>
          <tr>
            <th>
              Feature
            </th>
            <th>
              Tags
            </th>
            <th>
              Scenarios
            </th>
          </tr>
        </thead>
        <tbody>
        <% featureFiles.forEach(function(featureFile) { %>
          <% if (featureFile && featureFile.path) { %>
          <tr id="<%= featureFile.featureId %>">
            <td>
              <p class="feature.name" contentEditable="true" onblur="updateFeature('<%= featureFile.featureId %>', 'feature.name', this.innerText)"><%= featureFile.feature.name %></p>
              <p class="feature.description" contentEditable="true" onblur="updateFeature('<%= featureFile.featureId %>', 'feature.description', this.innerText)"><%= featureFile.feature.description %></p>
              <p class="feature.children.length"><%= featureFile.feature.children.length %> scenarios contained</p>
              <p class="path">Location: <%= featureFile.path %></p>
            </td>
            <td>
              <ul class="tag-list">
                <% featureFile.feature.tags.forEach(function(tag) { %>
                  <li>
                    <a href="#" class="tag-label" onclick="addTagToInput('<%= tag.name %>')" >
                      <%= tag.name %>
                    </a>
                  </li>
                <% }); %>
              </ul>
            </td>
            <td>
              <ul>
                <% featureFile.feature.children.forEach(function(child, index) { %>
                  <% if (child.scenario) { %>
                    <li>
                      <span class="tags">
                        <% child.scenario.tags.forEach(function(tag,tagIndex) { %>
                          <a href="#" class="tag-label" onclick="addTagToInput('<%= tag.name %>')"
                            contentEditable="true" onblur="updateFeature('<%= featureFile.featureId %>', 'feature.children[' + '<%= index %>' + '].scenario.tags[' + '<%= tagIndex %>' + '].name', this.innerText)">
                            <%= tag.name %>
                          </a> 
                        <% }); %>             
                      </span>
                      <a href="#" class="scenario-link" data-tags='<%= JSON.stringify(child.scenario.tags.map(function(tag) { return tag.name; })) %>'
                        title='<%= JSON.stringify(child.scenario.tags.map(function(tag) { return tag.name; })) %>'
                        contentEditable="true" onblur="updateFeature('<%= featureFile.featureId %>', 'feature.children[' + '<%= index %>' + '].scenario.name', this.innerText)">
                        <%- child.scenario.name %>
                        <% if (child.scenario.isOutline) { %>
                          <span>(Outline)</span>
                        <% } %>
                      </a> 
                      <p>
                        <% if (child.scenario.description) { %>
                        <span contentEditable="true" onblur="updateFeature('<%= featureFile.featureId %>', 'feature.children[' + '<%= index %>' + '].scenario.description', this.innerText)">
                        <%= child.scenario.description %></span>
                        <% } %>
                      </p>
                    </li>
                  <% } %>
                <% }); %>
              </ul>
            </td>
          </tr>
          <% } %>
        <% }); %>
        </tbody>
      </table>
    <button id="save-button" class="btn waves-effect waves-light" type="button" onclick="saveOnDisk()">Save</button>
    <button id="reset-button" class="btn waves-effect waves-light" type="button" onclick="reset()">Reset</button>
  </div>
</body>
</html>