<!DOCTYPE html>
<html lang="it">
<head>
  <title>CukeHub</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/main.js"></script>
</head>

<body>
  <header class="p-3 bg-dark text-white fixed-top">
    <div class="container-fluid">
      <div class="row align-items-center">
        <!-- Logo -->
        <div class="col-lg-2">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="TCM_Logo.png" alt="Logo" width="60" height="48">
          </a>
        </div>
        <!-- Menu -->
        <div class="col-lg-3">
          <ul class="nav justify-content-lg-start mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-white">Console</a></li>
            <li><a href="/settings" class="nav-link px-2 text-white">Settings</a></li>
          </ul>
        </div>
        <!-- Search Box -->
        <div class="col-lg-4">
          <form class="d-flex" role="search">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>
        </div>
        <!-- Buttons -->
        <div class="col-lg-3 d-flex justify-content-end">
          <button class="btn btn-primary px-1 mx-1" id="save-button" type="button" onclick="saveOnDisk()">Save</button>
          <button class="btn btn-danger px-1 mx-1" id="reset-button" type="button" onclick="reset()">Reset</button>
        </div>
      </div>
    </div>
  </header>
  <div class="container pt-5 mt-5 pb-5 mb-5  overflow-auto">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Feature</th>
          <th scope="col">Scenarios</th>
        </tr>
      </thead>
      <tbody>
        <% featureFiles.forEach(function(featureFile) { %>
          <% if (featureFile && featureFile.path) { %>
          <tr id="<%= featureFile.featureId %>">
            <td>
              <div class="d-flex gap-2 justify-content-left pt-5">
                <% featureFile.feature.tags.forEach(function(tag) { %>
                  <span class="tag-label badge d-flex p-2 align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
                    <span onclick="addTagToInput('<%= tag.name %>')" contentEditable="true" onblur="updateFeature('', this.innerText)" class="px-1">
                      <%= tag.name %>
                    </span> 
                    <a href="#" onclick="removeTag('<%= tag.name %>')">
                      <svg class="bi ms-1" width="16" height="16"><use xlink:href="#x-circle-fill"></use></svg>
                    </a>
                </span>
                <% }); %>
              </div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis" contentEditable="true" onblur="updateFeature('<%= featureFile.featureId %>', 'feature.name', this.innerText)">
                <%= featureFile.feature.name %>
              </h3>
              <p contentEditable="true" onblur="updateFeature('<%= featureFile.featureId %>', 'feature.description', this.innerText)">
                <%= featureFile.feature.description %>
              </p>
              <p><%= featureFile.feature.children.length %> scenarios contained</p>
            </td>
            <td>
              <ul class="list-unstyled">
                <% featureFile.feature.children.forEach(function(child, index) { %>
                  <% if (child.scenario) { %>
                    <li>
                      <div class="d-flex gap-2 justify-content-left pt-5">
                        <% child.scenario.tags.forEach(function(tag,tagIndex) { %>
                          <span class="tag-label badge d-flex p-2 align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
                            <span contentEditable="true" onblur="updateFeature('<%= featureFile.featureId %>', 'feature.children[' + '<%= index %>' + '].scenario.tags[' + '<%= tagIndex %>' + '].name', this.innerText)" class="px-1">
                              <%= tag.name %>
                            </span> 
                            <a href="#" onclick="removeTag('<%= tag.name %>')">
                              <svg class="tag-delete bi ms-1" width="16" height="16"><use xlink:href="#x-circle-fill"></use></svg>
                            </a>
                          </span>
                        <% }); %>
                      </div>            
                      <h4 href="#" contentEditable="true" onblur="updateFeature('<%= featureFile.featureId %>', 'feature.children[' + '<%= index %>' + '].scenario.name', this.innerText)">
                        <%- child.scenario.name %>
                        <% if (child.scenario.isOutline) { %>
                          <span>(Outline)</span>
                        <% } %>
                      </h4> 
                      <% if (child.scenario.description) { %>
                        <p contentEditable="true" onblur="updateFeature('<%= featureFile.featureId %>', 'feature.children[' + '<%= index %>' + '].scenario.description', this.innerText)">
                          <%= child.scenario.description %>
                        </p>
                      <% } %>
                    </li>
                  <% } %>
                <% }); %>
              </ul>
            </td>
          </tr>
          <% } %>
        <% }) %>
      </tbody>
    </table>
  </div>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 fixed-bottom bg-dark text-white">
    <p class="col-md-4 mb-0 text-muted">© 2024 CukeHub</p>
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Console</a></li>
      <li class="nav-item"><a href="/settings" class="nav-link px-2 text-muted">Settings</a></li>
    </ul>
  </footer>
</body>
</html>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="x-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
  </symbol>
</svg>