<style>
  #tagCloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>

<% var tagFrequency={}; var maxFrequency=1; featureFiles.forEach(function(featureFile) { if (featureFile &&
  featureFile.path) { if (featureFile.feature.tags) { featureFile.feature.tags.forEach(function(tag) { if
  (tagFrequency[tag.name]) { tagFrequency[tag.name].count++;
  tagFrequency[tag.name].features.push(featureFile.feature.name); if (tagFrequency[tag.name].count> maxFrequency) {
  maxFrequency = tagFrequency[tag.name].count;
  }
  } else {
  tagFrequency[tag.name] = { count: 1, scenarios: [], features: [featureFile.feature.name] };
  }
  });
  }
  featureFile.feature.children.forEach(function(child) {
  if (child.scenario) {
  child.scenario.tags.forEach(function(tag) {
  if (tagFrequency[tag.name]) {
  tagFrequency[tag.name].count++;
  tagFrequency[tag.name].scenarios.push(child.scenario.name);
  if (tagFrequency[tag.name].count > maxFrequency) {
  maxFrequency = tagFrequency[tag.name].count;
  }
  } else {
  tagFrequency[tag.name] = { count: 1, scenarios: [child.scenario.name], features: [] };
  }
  });
  }
  });
  }
  });
  %>
  <ul id="tagCloud">
    <% var counter=0; %>
      <% for (var tag in tagFrequency) { %>
        <li id="tag<%= counter %>"
          class="tag-label badge p-2 mr-1 mb-1 align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill"
          style="font-size: <%= (1 + (tagFrequency[tag].count - 1) / (maxFrequency - 1))/1.5 %>em"
          title="<%= tagFrequency[tag].scenarios.length > 0 ? 'This tag is present on: \n' + tagFrequency[tag].scenarios.join('\n ') : 'This tag is present at the feature level in: \n' + tagFrequency[tag].features.join('\n ') %>"
          data-count="<%= tagFrequency[tag].count %>" onclick='addTagToDataTableSearchInput("<%= tag %>")'>
          <span contenteditable="true" onblur='updateAllOccurencyOfTag("<%= tag %>", this.innerText)' class="px-1">
            <%= tag %>
          </span>
          <span class="badge badge-secondary badge-counter">
            <%= tagFrequency[tag].count %>
          </span>
          <span class="badge badge-secondary badge-counter" onclick='deleteAllOccurencyOfTag("<%= tag %>")'>X</span>
        </li>
        <% counter++; %>
          <% } %>
  </ul>
  <span
    class="badge d-flex p-2 mr-1 mb-2 align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
    <!-- TODO: Switch label from switch to alphabetical order/occurrency order -->
    <span class="px-1"><input type="checkbox" id="showAllTags" onclick="showAllTags()">Show all</input>
    </span>
  </span>
  <span id="sortCheckboxContainer"
    class="badge p-2 mr-1 mb-2 align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
    <!-- TODO: Switch label from switch to alphabetical order/occurrency order -->
    <span class="px-1"><input type="checkbox" id="sortCheckbox" onclick="sortTags()">+ Switch sort</input>
    </span>
  </span>

  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
  <script>
    function sortTags() {
      var container = document.getElementById('tagCloud');
      var tags = Array.from(container.getElementsByClassName('tag-label'));
      if (document.getElementById('sortCheckbox').checked) {
        tags.sort(function (a, b) {
          return b.getAttribute('data-count') - a.getAttribute('data-count');
        });
      } else {
        tags.sort(function (a, b) {
          return a.textContent.localeCompare(b.textContent);
        });
      }
      tags.forEach(function (tag, index) {
        tag.style.order = index;
      });
    }

    // Crea un nuovo oggetto Sortable per il tag cloud
    var sortable = Sortable.create(document.getElementById('tagCloud'), {
      animation: 1000, // Durata dell'animazione in ms
      onUpdate: sortTags // Funzione da chiamare quando l'ordine degli elementi cambia
    });

    //sortTags();

    // when document is ready limit the number of tags shown to the first 10 elements with id tag-x
    $(document).ready(function () {
      sortTags();
      showAllTags();
    });

    function showAllTags() {
      var isChecked = document.getElementById('showAllTags').checked;
      var tags = document.getElementById('tagCloud').getElementsByClassName('tag-label');
      for (var i = 0; i < tags.length; i++) {
        tags[i].style.display = isChecked || i < 10 ? 'block' : 'none';
      }
      isChecked ? document.getElementById('sortCheckboxContainer').style.display = 'block' : document.getElementById('sortCheckboxContainer').style.display = 'none';
    }

  </script>